/* Modifie le style de la balise body*/
body {
    background-color: #8BA1BB;
    font-family: Arial;
}

/*  Si on utilise id="categorie" alors on utilise 
    #categorie pour tous les balise qui utilise cet id
    ou
    p#categorie pour toutes les balises p qui utilise cet id
*/

/*  Si on utilise class="categorie" alors on utilise 
    .categorie pour tous les balise qui utilise cet class
    ou
    p.categorie pour toutes les balises p qui utilise cet class
*/

/* Modifie le style que de la class categorie dans une balise p*/
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}

/* Modifie le style que de la class description dans une balise p*/
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

/* Modifie le style que de la class description dans une balise div*/
.centre{
    text-align: center;
    width: 100%;
}

div.categorie{
    margin-bottom: -18px;
    margin-top: 60px;
}

/* Modifie le style que de la class contenu dans une balise div*/
div.contenu{
    background-color: white;
    margin: 0px 10% 80px 10%;
    padding: 30px;
    min-width: 350px;
}

/* Modifie le style de la balise h1*/
h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

div.separateur {
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

div.info{
    position: relative;
}

table.info{
    position: absolute;
    bottom: 4px;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 80px;
}

table.info td{
    text-align: center;
    font-size: 13px;
    vertical-align: top;
}
table.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 4px;
}